 {# {% form_theme form 'assets/simpleforms_fields.twig' %}  #}
        <div>
            <hr>
           	{% if app.session.get('user') is not null %}
            {# {% if users[content.username] is defined %} #}
                <h6>Hai anda login sebagai <i>{{ user.displayname }} </i> </h6>	
                {# {{ users[content.username].displayname|trimtext(15) }} #}
                {# {{ print(paths) }} #}
                {{ print(app.session.get('user')) }}
            {% else %}
                <h6>Login</h6>
            	<form name='login' method="post" action="{{ paths.bolt }}login">
                <input type='text' name='username' required="required" placeholder="Your Username .."  size='10'>
                <input type='password' name='password' required="required" placeholder="Your Password .."  size='10'>    
                <button type="submit" class="btn btn-primary" name="action" value="loginku"><i class="icon-signin"></i> Log on</button>           
            </form>
                {# <s>{{ content.username|trimtext(15) }}</s> #}
                {# {{ content.username }} #}
                {# asa #}
            {% endif %}
            <br>
            <br>
        </div>